version: 2.1

workflows:
  build-and-test:
    jobs:
      - build-test-linux:
          name: latest Node version
          docker-image: cimg/node:current
          run-lint: true
      - build-test-linux:
          name: oldest supported Node version
          docker-image: circleci/node:6
          run-lint: false

jobs:
  build-test-linux:
    parameters:
      run-lint:
        type: boolean
      docker-image:
        type: string
    docker:
      - image: <<parameters.docker-image>>
      - image: redis
    steps:
      - checkout
      - run: echo "Node version:" `node --version`
      - run: npm install
      - run:
          command: npm test
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"
      - run: npm run build
      - when:
          condition: <<parameters.run-lint>>
          steps:
            - run: npm run lint
      - run:
          name: dependency audit
          command: ./scripts/better-audit.sh
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit

  build-test-windows:
    executor:
      name: win/vs2019
      shell: powershell.exe
    steps:
      - checkout
      - run: node --version
      - run: npm install
      - run: npm test
      - run: npm run build
